/* O V E R V I E W */

/* Common styles */

@font-face {
  font-family: "VCROSDMono";
  src: url("/assets/fonts/VCR_OSD_MONO.ttf") format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('/assets/big-pointer-cursor.png'), auto;

}

body {
  margin: 0;
  overflow: hidden;
  font-family: "VCROSDMono";
}

/* Marquee 1 */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  width: 100%;
  top: 0;
  background: lightgray;
  color: white;
  font-size: 1 rem; /* 1.6rem is equivalent to 16px */
  z-index: 100;
}

.marquee-text {
  animation: marquee1 70s linear infinite;
}

@keyframes marquee1 {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-100%);
  }
}




a:not(:has(img)) {
  color: black;
  text-decoration: none;
  filter: blur(0.6px);
  transition: 0.1s ease;
}
    
          a:active, a:focus, a:hover {
            color: inherit;
            filter: blur(0px);
          }

/* Assets */

.email {
  position: fixed;
  top: 90%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1001; 
}

#changingText {
  position: fixed;
  bottom: 5%; 
  right: 5%; 
  font-size: 3rem; 
  color: black; 
  font-family: "VCROSDMono";
  src: url("/assets/fonts/VCR_OSD_MONO.ttf") format(truetype);
  z-index: 1001;
}

/*  H E A D E R  */

header {
  position: fixed;
  top: 0;
  font-size:0.8rem;
  text-transform:uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 40px); /* Adjusted width */
  z-index: 1002;
  padding: 20px;
}

      /*sub styles*/

      header h1, header a {
        font-family: "VCROSDMono";
        src: url("/assets/fonts/VCR_OSD_MONO.ttf") format(truetype);
        font-weight: 400;
        color: #1d1d1f;
        text-decoration: none;
        margin: 0; /* Remove default margin */
      }
      
      header h1 {
        font-size:0.8rem;
      }


.gallery-container {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  z-index: 100;

}

.gallery-item {
  position: absolute;
  max-width: 20%; /* Set maximum width */
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;

}

figcaption {
  font-family: "VCROSDMono";
  font-size: 0.7rem;
  position: absolute;
  color: #1d1d1f;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

figcaption p {
  background-color: #f7ff00;
  display: inline;
  width: fit-content;
  }

.gallery-item:hover img {
  opacity: 1;
}

.gallery-item:hover figcaption {
  opacity: 1;
}

/* Define positions for each image manually */
.gallery-item:nth-child(1) { top: 50px; left: 100px; }
.gallery-item:nth-child(2) { top: 200px; left: 300px; }
.gallery-item:nth-child(3) { top: 400px; left: 500px; }
.gallery-item:nth-child(4) { top: 500px; left: 1080px; }
.gallery-item:nth-child(5) { top: 800px; left: 900px; }

/* Add more styles for additional images */
.gallery-item:nth-child(6) { top: 100px; left: 600px; }
.gallery-item:nth-child(7) { top: 300px; left: 800px; }
.gallery-item:nth-child(8) { top: 500px; left: 200px; }
.gallery-item:nth-child(9) { top: 300px; left: 1060px; }
.gallery-item:nth-child(10) { top: 900px; left: 1060px; }
.gallery-item:nth-child(11) { top: 1000px; left: 50px; }
.gallery-item:nth-child(12) { top: 1000px; left: 400px; }
.gallery-item:nth-child(13) { top: 1500px; left: 50px; }
.gallery-item:nth-child(14) { top: 1600px; left: 700px; }
.gallery-item:nth-child(15) { top: 1300px; left: 600px; }



/* Add more styles for additional images */

/* Centered text */
.centered-text {

  display: flex;
  flex-direction: column;
  padding: 1rem; 
 
          position:absolute;
          font-family: "VCROSDMono";
          padding-left: 1vw; 
          padding-right: 1vw; 
          font-size: 2rem; 
          line-height: 1.2; 
          color: #1d1d1f; 
          z-index: 3;
        

          position: fixed;
          padding-top: 0; 
          top: 50%; 
          left: 50vh;
          width: 100%;
        }

/* Fixed Gif */
.fixed-gif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; /* Adjust width as needed */
  height: auto;
  display: none;
  z-index: 1000; /* Ensures the gif is above everything else */
}
