/*  O V E R V I E W  */

/*  Common styles */

@font-face {
    font-family: "VCROSDMono";
    src: url("/assets/fonts/VCR_OSD_MONO.ttf") format(truetype);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  a:not(:has(img)) {
    color: black;
    text-decoration: none;
    filter: blur(0.6px);
    transition: 0.1s ease;
  }
      
            a:active, a:focus, a:hover {
              color: inherit;
              filter: blur(0px);
            }

/* Assets */

  .email {
    position: fixed;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1001; 
  }

  #changingText {
    position: fixed;
    bottom: 5%; 
    right: 5%; 
    font-size: 3rem; 
    color: black; 
    font-family: "VCROSDMono";
    src: url("/assets/fonts/VCR_OSD_MONO.ttf") format(truetype);
    z-index: 1001;
  }
  
/* Background */

  .background {
      background-image: url('/assets/bg-light.png');
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      top: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 0; 
  }

      .background.pinned {
          background-attachment: fixed;
          background-position-y: -40vh; 
          position:fixed;
          top: 0;
          /*z-index: 1000;*/
     }



/*  H E A D E R  */

 header {
    position: fixed;
    top: 0;
    font-size:0.8rem;
    text-transform:uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px); /* Adjusted width */
    z-index: 1002;
    padding: 20px;
  }

        /*sub styles*/

        header h1, header a {
          font-family: "VCROSDMono";
          src: url("/assets/fonts/VCR_OSD_MONO.ttf") format(truetype);
          font-weight: 400;
          color: #1d1d1f;
          text-decoration: none;
          margin: 0; /* Remove default margin */
        }
        
        header h1 {
          font-size:0.8rem;
        }


/*  A R T I S T  D E S C R I P T I O N  */

.main-content {
    display: flex;
    flex-direction: column;
    padding: 1rem; 
   }
  
          .main-content .description {
            position:absolute;
            font-family: "VCROSDMono";
            padding-top: 3vw;
            padding-left: 1vw; 
            padding-right: 1vw; 
            font-size: 3rem; 
            line-height: 1.2; 
            color: #1d1d1f; 
            z-index: 3;
          }

          .main-content .description.pinned {
            position: fixed;
            padding-top: 0; 
            padding: 1rem; 
            top: 6%; 
            width: 100%;
            left: 0;
          }

/*  G A L L E R Y  */

/* Common styles for gallery items */

.container
{
  margin-top: 100vh;
  z-index: 1000;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  justify-items: center;
  margin-top: 0;
  padding: 0;
}

        /* Images */

        .gallery-img {
          position: relative;
          max-width: 100%;
          height: auto;
          object-fit: cover;
          padding: 0rem;
          z-index: 1000;
          /*border: 4px ridge #d8d8d8;*/
        }

        .gallery-gif {
          position: relative;
          max-width: 730px;
          height: auto;
          object-fit: cover;
          z-index: 1000;
          /*border: 4px ridge #d8d8d8;*/
        }


/* Figcaption */

/* Hide the figcaption by default */
.gallery-frame figcaption {
  font-family: "VCROSDMono";
  text-transform: uppercase;
  color: black;
  line-height: 1.2;  
  opacity: 0;
  position: absolute;
  pointer-events: none;

}

    .gallery-frame figcaption p {
      background-color: #f7ff00;
      display:inline; 
      width:fit-content;
    }

/* Show the figcaption on hover */
.gallery-frame:hover figcaption {
  opacity: 1;
  z-index: 1000;
}



 /*  image grid  */

 .container {
  position: relative;
  padding-top: 0; /* Adjusted padding to create space below the fixed header */
  padding-bottom: 40vh;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /*border: 2px solid #000;*/
  padding-top: 5rem; /* Adjusted padding to create space below the fixed header */

}

.image-grid a {
  position: relative;
  overflow:visible;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
  height: 20vh;
  z-index: 1;

}

.image-grid img {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto; /* Center the images */
  transition: filter 0.3s, transform 0.3s; /* Add transform to the transition */
  filter: grayscale(100%);
  position: relative;
  z-index: 1;

}

.image-link img {
  object-fit: cover;
  display: block;
  transition: filter 0.3s, transform 0.3s;
  filter: grayscale(100%);
  position: relative;
  /*border: 2px solid #000; /* Add border between columns */

}


.image-grid a:nth-child(odd) img {
  transform: translateY(-50%);
}

/* Repeat similar adjustments for even images */
.image-grid a:nth-child(even) img {
  transform: translateY(50%);
}

.image-grid a:hover img {
  filter: grayscale(0%);
}

.image-grid a:hover {
  transform: translateY(-10px);
}

.image-grid a:hover img {
  filter: grayscale(0%);
}

.image-grid a:hover {
  transform: translateY(-10px);
}


